{% extends "./gcweb-base.html" %}
{% load i18n %}

{% block breadcrumb %}
<li><a href="#">{% translate "Search Collections"%}</a></li>
{% endblock %}

{% block content %}

    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == "en" %}
    <form method="get" action="/en/advanced-search-results" class="form-inline">
    {% endif %}
    {% if LANGUAGE_CODE == "fr" %}
    <form method="get" action="/fr/advanced-search-results" class="form-inline">
    {% endif %}

        <ul class='adv-search-flex'>
                <li>
                 <label for="collectionSelect">{% translate "Select Collection"%}</label>
                 <select id="collectionSelect" name='i' class='form-control'>
                     {% get_current_language as LANGUAGE_CODE %}
                     {% if LANGUAGE_CODE == "en" %}
                     <option value="all">All Collections</option>
                     {% for collection in collections %}
                     <option value="{{collection.id}}">{{collection.display_name_en}}</option>
                     {% endfor %}
                     {% endif %}
                     {% if LANGUAGE_CODE == "fr" %}
                     <option value="all">Toutes les Collections</option>
                     {% for collection in collections %}
                     <option value="{{collection.id}}">{{collection.display_name_fr}}</option>
                     {% endfor %}
                     {% endif %}
                 </select>
                </li>

                <li>
                 <label for="queryField">{% translate "Find these words"%}</label>
                 <input id="queryField" type="search" name="q" value="" class='form-control'/>
                </li>

                <li>
                 <label for="antiQueryField">{% translate "None of these words"%}</label>
                 <input id="antiQueryField" type="search" name="nq" value="" class='form-control'/>
                </li>

                <li>
                 <label for="exactField">{% translate "This exact phrase"%}</label>
                 <input id="exactField" type="search" name="exact" value="" class='form-control'/>
                </li>

                <li>
                 <label for="websiteField">{% translate "Within this website"%}</label>
                 <input id="websiteField" type="search" name="site" value="" class='form-control'/>
                </li>

                <li>
                 <label for="fileField">{% translate "File type"%}</label>
                 <select id="fileField" type="search" name="filetype" class='form-control'>
                         <option value="all">{% translate "all formats"%}</option>
                         <option value="text/html">{% translate "HTML (.htm, .html)"%}</option>
                         <option value="application/pdf">{% translate "Adobe PDF (.pdf)"%}</option>
                         <option value="application/msword">{% translate "Microsoft Word (.doc)"%}</option>
                         <option value="application/vnd.ms-excel">{% translate "Microsoft Excel (.xls)"%}</option>
                         <option value="application/vnd.ms-powerpoint">{% translate "Microsoft Powerpoint (.ppt)"%}</option>
                         <option value="text/plain">{% translate "Text file (.txt)"%}</option>
                 </select>
                </li>

                <li>
                 <label for="startField">{% translate "Start date"%}</label>
                 <input id="startField" type="date" name="start" value="" placeholder="yyyy-mm-dd" class='form-control'/>
                </li>

                <li>
                 <label for="endField">{% translate "End date:"%}</label>
                 <input id="endField" type="date" name="end" value="" placeholder="yyyy-mm-dd" class='form-control'/>
                </li>

                <li >
                <div class="text-right mrgn-tp-md">
                 <button type="submit" class="form-control btn btn-primary">{% translate "Search"%}</button>
                 <button type="reset" class="form-control btn btn-default">{% translate "Reset"%}</button>
                </div>
                </li>
        </ul>
    </form>

    <h1 id="wb-cont" property="name">{% translate "Search Results"%}</h1>
    
    <div class="row">
        <div id="results">
        <h2>{% translate "Loading search results..."%}</h2>
        </div>
        <script src="/static/search.js"></script>
    </div>

{% endblock %}
