{% extends "./gcweb-base.html" %}
{% load i18n %}

{% block breadcrumb %}
<li><a href="#">{{collection.display_name_en}} | {{collection.display_name_fr}}</a></li>
{% endblock %}

{% block content %}
<h1 id="wb-cont" property="name">{% translate "GoC/LAC Web Archive"%}</h1>

    <div class="row">
        <div class="col-xs-6 col-md-3 col-lg-2 text-left">
            <img src="/static/canada.jpeg" float="left"/>
        </div>
        <div class="col-md-9 col-lg-10">
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == "en" %}
            <b><a href="#">{{collection.display_name_en}}</a></b>
            <p>{{collection.description_en}}</p>
            {% endif %}
            {% if LANGUAGE_CODE == "fr" %}
            <b><a href="#">{{collection.display_name_fr}}</a></b>
            <p>{{collection.description_fr}}</p>
            {% endif %}
        </div>
    </div>

    {% include "./search-bar.html" %}

    <br />
   
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-2">
    <h4 class="h4">{% translate "Filter Options" %}</h4>
    <form id="seed-filter" onsubmit="filterList(); return false;"> 
        <h4 class="h4">{% translate "Search Metadata" %}</h4>
        <input id="keyword-search" class="form-control" type="search">
        <h4 class="h4">{% translate "Select Site Language" %}</h4>
        <ul class="list-unstyled">
                <li class="checkbox">
                        <label for="english-checkbox">
                                <input id="english-checkbox" type="checkbox"/>
                                {% translate "English" %}
                        </label>
                </li>
                <li class="checkbox">
                        <label for="french-checkbox">
                                <input id="french-checkbox" type="checkbox"/>
                                {% translate "French" %}
                        </label>
                </li>
        </ul>

        {% if collection.collection_type == "lac"%}
        <h4 class="h4">{% translate "Select Site Topic" %}</h4>
        <select class="form-control" id='topic-select' >
            <option value="">{%translate "Select topic" %}</option>
            {% for topic in topics %}
            <option value="{{topic}}">{{topic}}</option>
            {% endfor %}
        </select>
        <br/>
        {% else %}
        <input id="topic-select" type="hidden" value=""/>
        {% endif %}
        <button type="submit" class="btn btn-primary">{% translate "Filter" %}</button>
    </form>
    </div>

    <div class="col-md-10 col-lg-10">
    <h4 class="h4">{% translate "Archived Sites" %}</h4>
   
    <div id="col-list-nav">
        <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" onclick="pageList(-1); return false;">Previous</a></li>
                <li class="page-item"><a class="page-link" onclick="pageList(1); return false;" href="#">Next</a></li>
        </ul>

        <div id="list-stats" class="col-list-text">
        {% translate "Showing <> out of <> total seeds" %} 
        <br>
        {% translate "Viewing page <>, <> per page" %}
        </div>

        <div id="sort-list" class="col-list-text">
        {% translate "Sort by: " %}
        <a href="#" onclick="sortList('url-item'); return false;" >URL</a>
        <a href="#" onclick="sortList('title-item'); return false;">Title</a>
        </div>
    </div>

    <ul id="seed-list">
        {% for seed in seed_data %}
        <div class="seed-list-item">
                <li class="seed-list-data" name='title-item'><b>{% translate "Title"%}:</b> {% if seed.title %}{{seed.title}}{% else %}{% translate "None"%}{% endif %}</li>
                <li class="seed-list-data" name='url-item'><b>{% translate "URL"%}: </b><a href="https://bac-lac.wayback.archive-it.org/query?type=urlquery&amp;url={{seed.url}}">{{ seed.url }}</a></li>

        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == "en" %}
                <li class="seed-list-data" name='lang-item'><b>{% translate "Language"%}: </b>{% if seed.language%}{{seed.language}}{% else %}{% translate "None"%}{% endif %}</li>

                {% if collection.collection_type == "goc"%}
                <li class="seed-list-data" name='dept-item'><b>{% translate "Department"%}: </b>{% if seed.department%}{{seed.department}}{% else %}{% translate "None"%}{% endif %}</li>
                {% else %}
                <li class="seed-list-data" name='subj-item'><b>{% translate "Subject"%}: </b>{% for subject in seed.subject %}{{subject}}{%if not forloop.last%}, {%endif%}{% empty %}{% translate "None"%}{% endfor %}</li>
                {% endif %}
        {% endif %}

        {% if LANGUAGE_CODE == "fr" %}
                <li class="seed-list-data" name='lang-item'><b>{% translate "Language"%}: </b>{% if seed.langue%}{{seed.langue}}{% else %}{% translate "None"%}{% endif %}</li>

                {% if collection.collection_type == "goc"%}
                <li class="seed-list-data" name='dept-item'><b>{% translate "Department"%}: </b>{% if seed.ministère%}{{seed.ministère}}{% else %}{% translate "None"%}{% endif %}</li>
                {% else %}
                <li class="seed-list-data" name='subj-item'><b>{% translate "Subject"%}: </b>{% for sujet in seed.sujet %}{{sujet}}{%if not forloop.last%}, {%endif%}{% empty %}{% translate "None"%}{% endfor %}</li>
                {% endif %}
        {% endif %}

        <hr/>
        </div>
        {% endfor %}
    </ul>
    </div>
    </div>

    </div>


    <script src="/static/list.js"></script>
{% endblock %}
