{% extends "./gcweb-base.html" %}
{% load i18n %}

{% block breadcrumb %}
<li><a href="#">{{collection.display_name_en}} | {{collection.display_name_fr}}</a></li>
{% endblock %}

{% block content %}
<h1 id="wb-cont" property="name">{% translate "GoC/LAC Web Archive Prototype"%}</h1>

    <div class="row">
        <div class="col-xs-6 col-md-3 col-lg-2 text-left">
            <img src="/static/canada.jpeg" float="left"/>
        </div>
        <div class="col-md-9 col-lg-10">
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == "en" %}
            <b><a href="#">{{collection.display_name_en}}</a></b>
            <p>{{collection.description_en}}</p>
            {% endif %}
            {% if LANGUAGE_CODE == "fr" %}
            <b><a href="#">{{collection.display_name_fr}}</a></b>
            <p>{{collection.description_fr}}</p>
            {% endif %}
        </div>
    </div>

    {% include "./search-bar.html" %}

    <br />

    {% if collection.collection_type == "lac" %}
    <details>
            <summary><h4 class="h4">{% translate "Filter Options" %}</h4></summary>
    <form class="wb-tables-filter" data-bind-to="seed-table">
        <h4 class="h4">{% translate "Select Site Language" %}</h4>
        <ul class="list-unstyled">
                <li class="checkbox">
                        <label for="english-checkbox">
                                <input id="english-checkbox" name="lang-filter" type="checkbox" data-column="3" value="EN"/>
                                {% translate "English" %}
                        </label>
                </li>
                <li class="checkbox">
                        <label for="french-checkbox">
                                <input id="french-checkbox" name='lang-filter' type="checkbox" data-column="3" value="FR"/>
                                {% translate "French" %}
                        </label>
                </li>
        </ul>
        <h4 class="h4">{% translate "Select Site Topic" %}</h4>
        <select class="form-control" name='topic' data-column='2'>
            <option value="">{%translate "Select topic" %}</option>
            {% for topic in topics %}
            <option value="{{topic}}">{{topic}}</option>
            {% endfor %}
        </select>
        <br/>
        <button type="submit" class="btn btn-primary" aria-controls="dataset-filter1">{% translate "Filter" %}</button>
    </form>
    </details>
    {%endif%}

    <table id="seed-table" class="wb-tables table table-striped table-hover" data-wb-tables='{}'>
        <caption>{% translate "Collection Page"%}</caption>
        <thead>
        {% if collection.collection_type == "lac"%}
        <tr>
            <th scope="col">{% translate "Title"%}</th>
            <th scope="col">{% translate "URL"%}</th>
            <th scope="col">{% translate "Topic"%}</th>
            <th scope="col">{% translate "Lang"%}</th>
        </tr>
        {% endif %}
        {% if collection.collection_type == "goc"%}
        <tr>
            <th scope="col">{% translate "Title"%}</th>
            <th scope="col">{% translate "Department"%}</th>
            <th scope="col">{% translate "URL"%}</th>
        </tr>
        {% endif %}
        </thead>
        <tbody>

        {% if collection.collection_type == "goc"%}
        {% for seed in seed_data %}
        <tr>
            <td>{% if seed.title %}{{seed.title}}{% else %}{% translate "None"%}{% endif %}</td>
            <td>{% if seed.department%}{{seed.department}}{% else %}{% translate "None"%}{% endif %}</td>
            <td><a href="https://bac-lac.wayback.archive-it.org/query?type=urlquery&amp;url={{seed.url}}">{{ seed.url }}</a></td>
        </tr>
        {% endfor %}
        {% else %}
        {% for seed in seed_data %}
        <tr>
            <td>{% if seed.title %}{{seed.title}}{% else %}{% translate "None"%}{% endif %}</td>
            <td><a href="https://bac-lac.wayback.archive-it.org/query?type=urlquery&amp;url={{seed.url}}">{{ seed.url }}</a></td>
            <td>{% for subject in seed.subject %}{{subject}}{%if not forloop.last%}, {%endif%}{% empty %}{% translate "None"%}{% endfor %}</td>
            <td>{% if seed.language %}{{seed.language}}{% else %}{% translate "None"%}{% endif %}</td>
        </tr>
        {% endfor %}
        {% endif %}

        </tbody>
    </table>
{% endblock %}
