{% extends "./gcweb-base.html" %}

{% block content %}
    <h1 id="wb-cont" property="name">GoC/LAC Web Archive Prototype</h1>

    <div class="row">
        <div class="col-xs-6 col-md-3 col-lg-2 text-left">
            <img src="/static/canada.jpeg" float="left"/>
        </div>
        <div class="col-md-9 col-lg-10">

            {% if type == "goc"%}
            <b><a href="#">Government of Canada Collection</a></b>
            {% endif %}
            {% if type == "lac"%}
            <b><a href="#">Truth and Reconciliation Collection</a></b>
            {% endif %}
            {% if type == "covid"%}
            <b><a href="#">Coronavirus/COVID-19 Collection</a></b>
            {% endif %}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore
                magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur.
                Excepteur
                sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum.</p>
        </div>
    </div>

    <form method="post" action="search-results" class="form-inline">
        <div class="form-group"
        <label><b>Search</b></label>
        <br/>
        <a href="advanced-search-page.html">Advanced Search</a>
        <br/>
        <input class="form-control"/>
        <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <form method="post" action="#" class="form-inline">
        <div class="form-group"
        <label><b>Filter</b></label>
        <br/>
        <input class="form-control"/>
        <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </form>

    <table class="table table-striped">
        <caption>Collection Page</caption>
        <thead>
        {% if type == "lac"%}
        <tr>
            <th scope="col">Title</th>
            <th scope="col">URL</th>
            <th scope="col">Topic</th>
            <th scope="col">Lang</th>
        </tr>
        {% endif %}
        {% if type == "goc"%}
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Department</th>
            <th scope="col">URL</th>
        </tr>
        {% endif %}
        </thead>
        <tbody>

        {% if type == "lac"%}
        {% for seed in seed_data %}
        <tr>
            <td>{% if seed.title %}{{seed.title}}{% else %}None{% endif %}</td>
            <td><a href="https://wayback.archive-it.org/{{id}}/*/{{seed.url}}">{{ seed.url }}</a></td>
            <td>{% if seed.subject%}{{seed.subject}}{% else %}None{% endif %}</td>
            <td>{% if seed.language %}{{seed.language}}{% else %}None{% endif %}</td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if type == "goc"%}
        {% for seed in seed_data %}
        <tr>
            <td>{% if seed.title %}{{seed.title}}{% else %}None{% endif %}</td>
            <td>{% if seed.department%}{{seed.department}}{% else %}None{% endif %}</td>
            <td><a href="https://wayback.archive-it.org/{{id}}/*/{{seed.url}}">{{ seed.url }}</a></td>
        </tr>
        {% endfor %}
        {% endif %}


        </tbody>
    </table>
{% endblock %}
