{% load i18n %}
{% block header %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
    <title>{% translate "Canadian Web Archive Prototype" %}</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="description" content=" "/>
    <link href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon"/>
    <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css"/>
    <link rel="stylesheet" href="/static/styles.css"/>
    <noscript>
        <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/css/noscript.min.css"/>
    </noscript>
</head>
<body vocab="http://schema.org/" typeof="WebPage">

<nav>
    <ul id="wb-tphp">
            <li class="wb-slc"><a class="wb-sl" href="#">{% translate "Skip to main content" %}</a></li>
            <li class="wb-slc visible-sm visible-md visible-lg"><a class="wb-sl" href="#wb-info">{% translate "Skip to About this site"%}</a>
        </li>
    </ul>
</nav>

<header>
    <div id="wb-bnr" class="container">
        <div class="row">
            <section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
                    <h2 class="wb-inv">{% translate "Language selection" %}</h2>
                <ul class="list-inline mrgn-bttm-0">
                    <li>
                        {% if LANGUAGE_CODE == 'en' %}
                        <a lang="fr" hreflang="fr" href="/fr/{{request.path|slice:"4:"}}">
                            <span class="hidden-xs">Français</span>
                            <abbr title="Français" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">fr</abbr>
                        </a>
                        {% else %}
                        <a lang="en" hreflang="en" href="/en/{{request.path|slice:"4:"}}">
                            <span class="hidden-xs">English</span>
                            <abbr title="English" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">en</abbr>
                        </a>
                        {%endif%}
                    </li>
                </ul>
            </section>

            <div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
                    <a href="/{{LANGUAGE_CODE}}" property="url">
                    <img src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/sig-blk-en.svg"
                         alt="Government of Canada" property="logo"/><span class="wb-inv"> / <span lang="fr">Gouvernement du Canada</span></span>
                </a>
                <meta property="name" content="Government of Canada">
                <meta property="areaServed" typeof="Country" content="Canada"/>
                <link property="logo" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/wmms-blk.svg"/>
            </div>

        </div>
    </div>

    <div class="ait-header">
    </div>

    <nav id="wb-bc" property="breadcrumb">
        <div class="container">
            <h2>{% translate "You are here:"%}</h2>
            <ol class="breadcrumb">
                    <li><a href="/">{% translate "LAC Web Archive Index" %}</a></li>
                    {%block breadcrumb%}{%endblock%}
            </ol>
        </div>
    </nav>

</header>
{% endblock %}

<main class="container" property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">
{% block content %}
Hello world!
{% endblock %}
</main>

{% block footer %}
<br/>
<footer id="wb-info">

    <div class="landscape">
        <nav class="container wb-navcurr">
    {% get_current_language as LANGUAGE_CODE %}
    {%if LANGUAGE_CODE == 'en'%}
            <h2 class="wb-inv">About government</h2>
            <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                <li><a href="https://www.canada.ca/en/contact.html">Contact us</a></li>
                <li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
                <li><a href="https://www.canada.ca/en/government/publicservice.html">Public service and military</a>
                </li>
                <li><a href="https://www.canada.ca/en/news.html">News</a></li>
                <li><a href="https://www.canada.ca/en/government/system/laws.html">Treaties, laws and regulations</a>
                </li>
                <li><a href="https://www.canada.ca/en/transparency/reporting.html">Government-wide reporting</a></li>
                <li><a href="https://pm.gc.ca/eng">Prime Minister</a></li>
                <li><a href="https://www.canada.ca/en/government/system.html">How government works</a></li>
                <li><a href="https://open.canada.ca/en/">Open government</a></li>
            </ul>
        </nav>
    </div>

    <div class="brand">
        <div class="container">
            <div class="row ">
                <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
                    <h2 class="wb-inv">About this site</h2>
                    <ul>
                        <li><a href="https://www.canada.ca/en/social.html">Social media</a></li>
                        <li><a href="https://www.canada.ca/en/mobile.html">Mobile applications</a></li>
                        <li><a href="https://www1.canada.ca/en/newsite.html">About Canada.ca</a></li>
                        <li><a href="https://www.canada.ca/en/transparency/terms.html">Terms and conditions</a></li>
                        <li><a href="https://www.canada.ca/en/transparency/privacy.html">Privacy</a></li>
    {% else %}
<h2 class="wb-inv">Au sujet du gouvernement</h2>
            <ul class="list-unstyled colcount-sm-2 colcount-md-3">
                         <li><a href="/fr/contact.html">Contactez-nous</a></li>
                        <li><a href="/fr/gouvernement/min.html">Ministères et organismes</a></li>
                        <li><a href="/fr/gouvernement/fonctionpublique.html">Fonction publique et force militaire</a></li>
                        <li><a href="/fr/nouvelles.html">Nouvelles</a></li>
                        <li><a href="/fr/gouvernement/systeme/lois.html">Traités, lois et règlements</a></li>
                        <li><a href="/fr/transparence/rapports.html">Rapports à l&#39;échelle du gouvernement</a></li>
                        <li><a href="https://pm.gc.ca/fr">Premier ministre</a></li>
                        <li><a href="/fr/gouvernement/systeme.html">À propos du gouvernement</a></li>
                                           <li><a href="http://ouvert.canada.ca/">Gouvernement ouvert</a></li>
            </ul>
        </nav>
        </div>
        <div class="brand">
            <div class="container">
                <div class="row">
                        <nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
                        <h2 class="wb-inv">À propos de ce site</h2>
                        <ul>
                                    <li><a href="/fr/sociaux.html">Médias sociaux</a></li>
                                    <li><a href="/fr/mobile.html">Applications mobiles</a></li>
                                    <li><a href="/fr/gouvernement/a-propos.html">À propos de Canada.ca</a></li>
                                    <li><a href="/fr/transparence/avis.html">Avis</a></li>
                                    <li><a href="/fr/transparence/confidentialite.html">Confidentialité</a></li>
    {% endif %}
                    </ul>
                </nav>
                <div class="col-xs-6 visible-sm visible-xs tofpg">
                    <a href="#">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
                </div>
                <div class="col-xs-6 col-md-3 col-lg-2 text-right">
                    <img src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/wmms-blk.svg"
                         alt="Symbol of the Government of Canada"/>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"
        integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB"
        crossorigin="anonymous"></script>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
<script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>
</body>
</html>
{% endblock %}
