{% extends "./gcweb-base.html" %}

{% block content %}
    <h1 id="wb-cont" property="name">Government of Canada Web Archive Prototype</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
    <form method="get" action="search-results" class="form-inline">
        <div class="form-group">
        <label><b>Search</b></label>
        <br/>
        <a href="advanced-search-page.html">Advanced Search</a>
        <br/>
        <select name='i'>
            <option value="all">All Collections</option>
            <option value="9155">Government of Canada Collection</option>
            <option value="6602">Truth and Reconciliation</option>
            <option value="13693">Coronavirus/COVID-19</option>
        </select>
        <input type="search" name="q"/>
        <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>

    <br/>
    <b>Browse</b>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-md-3 col-lg-2 text-left">
                <img src="canada.jpeg" float="left"/>
            </div>
            <div class="col-md-9 col-lg-10">
                <b><a href="/collection/9155">Government of Canada Collection</a></b>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-2 text-left">
                <img src="canada.jpeg" float="left"/>
            </div>
            <div class="col-md-9 col-lg-10">
                <b><a href="/collection/6602">Truth and Reconciliation Collection</a></b>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.
                    Excepteur
                    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                    laborum.</p>
            </div>
        </div>
    </div>

{% endblock %}


