{% load i18n %}
{% if results %}
<div id="search-results">
        {% for item in results %}
        <h3>{{item.title}}</h3>
        <a href="https://bac-lac.wayback.archive-it.org/query?type=urlquery&amp;url={{item.link}}">{{item.title}}</a>
        {%autoescape off%}
        <p>{{item.description }}</p>
        {%endautoescape%}
        <b>{% translate "Filetype:"%}</b> {{item.type}}
        <br/>
        <b>{% translate "Site:"%}</b> {{item.site}}
        <br/>
        <b>{% translate "Date:"%}</b> {{item.date}}
        <br/>
        <b>{% translate "Collection:"%}</b> {{item.collection}}
        <hr/>
        {%endfor%}
</div>

{% else %}
<h2>{% translate "No search results!"%}</h2>
{% endif %}
