{% load i18n %}
{% load ait %}
{% get_current_language as LANGUAGE_CODE %}

<form method="get" action="/{{LANGUAGE_CODE}}/search-results" class="form-inline">
    <label><b>{% translate "Search" %}</b></label>

    <br/>
    <div id="ait-search-form-group" class="form-group"> 
    {% comment %}For individual collection pages {% endcomment %}
    {% if collection %}
    <input type="hidden" name="i" value="{{collection.id}}"/>
    {% else %}
    <select class='form-control' name='i'>
        <option value="all">{% translate "All Collections" %}</option>
        {% for collection in collections %}
        <option value="{{collection.id}}" {% ait_select_collection id=collection.id param=request.GET.i %} >
        {% if LANGUAGE_CODE == "en" %}
        {{collection.display_name_en}}
        {% else %}
        {{collection.display_name_fr}}
        {% endif %}
        </option>
        {% endfor %}
    </select>
    {% endif %}

    <input id="ait-search-bar" class='form-control' value="{{request.GET.q}}" type="search" name="q"/>
    <button type="submit" class="btn btn-primary">{% translate "Search" %}</button>
    </div>
    <a href="/{{LANGUAGE_CODE}}/advanced-search-results">{% translate "Advanced Search" %}</a>
    <br/>
</form>
