
{% if results.items %}
<div id="search-results">
        {% for item in results.items %}
        <h3>{{item.title}}</h3>
        <a href="https://wayback.archive-it.org/{{item.index}}/*/{{item.link}}">{{item.title}}</a>
        {%autoescape off%}
        <p>{{item.description }}</p>
        {%endautoescape%}
        <b>Filetype:</b> {{item.type}}
        <br/>
        <b>Site:</b> {{item.site}}
        <br/>
        <b>Date:</b> {{item.date}}
        <hr/>
        {%endfor%}
</div>

{% else %}
<h2>No search results!</h2>
{% endif %}
