.ait-header {
 border-top:3px solid;
 color:#284162;
 margin-left:0
}

#ait-search-bar {
 flex-grow:.5;
 margin-right:5px;
 margin-left:5px;
}

#ait-search-form-group {
 display:flex;
}

#col-list-nav {
 display:flex;
}

.col-list-text {
 flex-grow:.25;
 margin-right:5px;
 margin-left:30px;
}

.adv-search li {
 padding: 8px;
 list-style: none;
}

.adv-search> li > label {
  width: 25%;
  margin-left: 15%;
  margin-right: 5%;
  list-style: none;
  text-align: right;
}

#search-results ol,
#search-results ul {
  padding-left: 0;
  padding-right: 0;
}

#search-results li {
  list-style: none;
}

#search-results li.description {
  font-style: italic;
}

.seed-list-data {
 list-style-type: none;
}

.pagination-wrapper {
  text-align: center;
  margin: 0 auto;
}

.error {
  padding-left: 50%;
  font-size: 80%;
  color: red;
  display: list-item;
}
