.ait-header {
 border-top:3px solid;
 color:#284162;
 margin-left:0
}

#ait-search-bar {
 flex-grow:.5;
 margin-right:5px;
 margin-left:5px;
}

#ait-search-form-group {
 display:flex;
}

.adv-search li {
 padding: 8px;
 list-style: none;
}

.adv-search> li > label {
  width: 25%;
  margin-left: 15%;
  margin-right: 5%;
  list-style: none;
  text-align: right;

}

